SAPPORO-service/run/
SAPPORO-service/log/
SAPPORO-service/SAPPORO-service/tests/post_runs_mock/trim.yml
SAPPORO-service/SAPPORO-service/tests/post_runs_mock/bwa.yml

SAPPORO-web/config/uwsgi.sock
SAPPORO-web/log/

.DS_Store
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache
migrations/
SAPPORO-web/SAPPORO-web/coverage_html
