body {
  background-image: url("/static/img/home_sapporo_blur.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #a9a9a9;
  background-blend-mode: overlay;
}

.sp-content {
  margin-top: 150px;
}

.sp-description {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sp-description > h3 {
  font-size: 6rem;
  font-weight: 400;
  color: #2c2c2c;
}

.sp-description > p {
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 30px;
  color: #2c2c2c;
}

.form-signin {
  background-color: #fafbfc;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px 5px 5px 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #2c2c2c;
}

.alert-danger {
  background-color: #95a5a6;
  font-size: 0.8rem;
}
