body {
  background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#form {
  margin-top: 120px !important;
  margin-bottom: 120px !important;
}

#form > form {
  background-color: rgba(0, 26, 35, 0.2);
  padding: 30px 20px;
  border-radius: 2px;
}

#form > form > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#form > form > p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
}

#form label {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 4px;
}

#form > form > div:last-child {
  margin-top: 32px;
}

#form .btn-outline-primary {
  color: #003546;
  border-color: #003546;
}

#form .btn-outline-primary:hover {
  color: #fff !important;
  background-color: #003546;
  border-color: #003546;
}

#form .alert-danger {
  background-color: #da5138;
  font-size: 0.8rem;
}

#form small {
  color: #003546 !important;
}
