nav.bg-primary {
  background-color: #25292e !important;
}

#navbarSupportedContent
  > ul.navbar-nav.ml-md-auto
  > li
  > a.btn-outline-secondary {
  color: #e9e9e9;
  border-color: #e9e9e9;
}

body {
  padding-top: 70px;
}
