body {
  background-color: #f5f7f9;
  margin-bottom: 60px;
}

#title {
  margin-top: 30px;
  margin-left: 30px;
  color: #003546 !important;
}

#title h1 {
  font-size: 1.6rem !important;
}

#table-1 {
  margin-top: 20px;
}

#table-1 h2 {
  font-size: 1.2rem !important;
  font-weight: 100 !important;
  margin-bottom: 20px;
}

#table-1 table {
  background-color: #ffffff;
  margin-left: 20px;
}

#table-2 {
  margin-top: 20px;
  margin-left: 40px;
}

#table-2 table {
  background-color: #ffffff;
  border: #dee2e6 2px solid;
}
