{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}
  NIG-web Service List
{% endblock %}

{% block content %}
  <br />
  <div class="row justify-content-center">
    <div class="col-10">
      <h2>NIG-web Service List</h2>
      <p class="lead">
        List of currently registered services
      </p>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10">
      <h4>Service List</h4>
    </div>
  </div>
  <br />
  <div class="row justify-content-center">
    <div class="col-9">
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col"><div class="text-center">Service Name</div></th>
            <th scope="col"><div class="text-center">API URL</div></th>
            <th scope="col"><div class="text-center">Workflow Engines</div></th>
          </tr>
        </thead>
        <tbody>
          {% for service in services %}
            <tr>
              <td class="align-middle"><a href="{% url 'app:service_detail' service_name=service.name %}">{{ service.name }}</a></td>
              <td class="align-middle">{{ service.api_server_url }}</td>
              <td class="align-middle">
                {% for workflow_engine in service.workflow_engines %}
                  {% if forloop.counter == service.workflow_engines|length %}
                    {{ workflow_engine.name }}:&nbsp;{{ workflow_engine.version }}
                  {% else %}
                    {{ workflow_engine.name }}:&nbsp;{{ workflow_engine.version }}<br />
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <div class="row justify-content-center">
    <div class="col-10">
      <a class="btn btn-outline-secondary" href="{% url 'app:home' %}" role="button">Back</a>
    </div>
  </div>
{% endblock %}