{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% block title %}SAPPORO Admin{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/admin_home.css' %}">
{% endblock %}
{% block content %}
{% include "./navbar.html" %}
  <div class="container">
    <div class="row" id="title">
      <div class="col-12">
        <h1>SAPPORO Admin</h1>
      </div>
    </div>

    <div class="row justify-content-center" id="list">
      <div class="col-10">
        <table class="table">
          <tbody>
            <tr>
              <td><a href="{% url 'app:admin_service' %}">Managing services</a></td>
              <td>Add and delete services</td>
            </tr>
            <tr>
              <td><a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/django-admin/auth/user/">Managing users</a></td>
              <td>Manage user informations</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_js%}{% endblock %}