{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% block title %}SAPPORO{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {% include "./navbar.html" %}
        <div class="jumbotron">
          <h1 class="display-3">SAPPORO-web Home Authenticated</h1>
          <p class="lead">
            Screen after Sign in
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_js%}{% endblock %}