{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% block title %}SAPPORO Run Detail{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home_authenticated.css' %}">
{% endblock %}
{% block content %}
{% include "./navbar.html" %}
  <div class="container">
    <div class="row">
    <div class="col-12">
      <h2>SAPPORO-web Run Detail</h2>
      <p class="lead">
        Screen for managing Run executed by User
      </p>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead class="thead-light">
        <thead class="thead-light">
          <tr>
            <th scope="col"><div class="text-center">Workflow Name</div></th>
            <th scope="col"><div class="text-center">Execution Engine</div></th>
            <th scope="col"><div class="text-center">Workflow Status</div></th>
            <th scope="col"><div class="text-center">Run Name</div></th>
            <th scope="col"><div class="text-center">Upload URL</div></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-middle"><a href="{% url 'app:workflow_detail' workflow_token=run.workflow.token %}">{{ run.workflow.name }}</a></td>
            <td class="align-middle">{{ run.execution_engine.name }}</td>
            <td class="align-middle">{{ run.status }}</td>
            <td class="align-middle"><a href="{% url 'app:run_detail' run_id=run.run_id %}">{{ run.name }}</a></td>
            <td class="align-middle"><a href="{{ run.upload_url }}">{{ run.upload_url }}</a></td>
          </tr>
        </tbody>
      </table>
      <hr />
      <h5>Workflow Paramteres</h5>
<a class="btn btn-outline-primary" href="{% url 'app:run_download' run_id=run.run_id %}" download>Download</a>
<pre class="prettyprint linenums">
{{ run.workflow_parameters }}
</pre>
      <hr />
      <h5>Stdout</h5>
<pre class="prettyprint linenums">
{{ run.stdout }}
</pre>
      <hr />
      <h5>Stderr</h5>
<pre class="prettyprint linenums">
{{ run.stderr }}
</pre>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <a class="btn btn-outline-secondary" href="{% url 'app:run_list' %}" role="button">Back</a>
    </div>
  </div>

{% endblock %}
{% block extra_js %}
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sunburst"></script>
{% endblock %}