{% extends 'base.html' %}
{% block title %}
  SAPPORO-web Run
{% endblock %}
{% block content %}
  <br />
  <div class="row justify-content-center">
    <div class="col-10">
      <h2>SAPPORO-web Run List</h2>
      <p class="lead">
        Screen for managing Run executed by User
      </p>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-9">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col"><div class="text-center">Workflow Name</div></th>
            <th scope="col"><div class="text-center">Workflow Engine</div></th>
            <th scope="col"><div class="text-center">Status</div></th>
            <th scope="col"><div class="text-center">Run ID</div></th>
          </tr>
        </thead>
        <tbody>
          {% for run in runs %}
            <tr>
              <td class="align-middle"><a href="{% url 'app:workflow_detail' workflow_token=run.workflow.token %}">{{ run.workflow.name }}</a></td>
              <td class="align-middle">{{ run.engine.name }}</td>
              <td class="align-middle">{{ run.status }}</td>
              <td class="align-middle"><a href="{% url 'app:run_detail' run_id=run.run_id %}">{{ run.run_id }}</a></td>
            </tr>
          {% endfor %}
          <tr>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10">
      <a class="btn btn-outline-secondary" href="{% url 'app:home' %}" role="button">Back</a>
    </div>
  </div>
{% endblock %}