{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% block title %}SAPPORO Run Detail{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/run_detail.css' %}">
{% endblock %}
{% block content %}
{% include "./navbar.html" %}
  <div class="container">
    <div class="row" id="title">
      <div class="col-12">
        <h1>{{ run.name }}</h1>
      </div>
    </div>

    <div class="row justify-content-center" id="table">
      <div class="col-10">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>Workflow</td>
              <td><a href="{% url 'app:workflow_detail' workflow_token=run.workflow.token %}">{{ run.workflow.name }}</a></td>
            </tr>
            <tr>
              <td>Version</td>
              <td>{{ run.workflow.version }}</td>
            </tr>
            <tr>
              <td>Language</td>
              <td>{{ run.workflow.workflow_type.type }}:&nbsp;{{ run.workflow.workflow_type.version }}</td>
            </tr>
            <tr>
              <td>Execution Service</td>
                <td><a href="{% url 'app:service_detail' service_name=run.workflow.service.name %}">{{ run.workflow.service.name }}</a></td>
            </tr>
            <tr>
              <td>Execution Engine</td>
              <td>{{ run.execution_engine.name }}:&nbsp;{{ run.execution_engine.version }}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>{{ run.status }}</td>
            </tr>
            <tr>
              <td>Outputs Upload URL</td>
              <td><a href="{{ run.upload_url }}">{{ run.upload_url }}</a></td>
            </tr>
            <tr>
              <td>Start Date</td>
              <td>{{ run.start_time|date:"Y-m-j H:i:s" }}</td>
            </tr>
            <tr>
              <td>End Date</td>
              <td>{{ run.end_time|date:"Y-m-j H:i:s" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    {% if bool_cancel_button %}
      <div class="row justify-content-center" id="cancel-button">
        <div class="col-6">
          <form action="{% url 'app:run_detail' run_id=run.run_id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-primary btn-block" name="run_cancel_button" value="Cancel Run" />
          </form>
        </div>
      </div>
    {% endif %}

    <div class="row justify-content-center" id="parameter-title">
      <div class="col-lg-8 col-md-7 col-sm-6 col-10">
        <h2>Workflow Paramteres</h2>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <a class="btn btn-outline-primary btn-block" href="{% url 'app:run_download' run_id=run.run_id %}" download>
          Download
        </a>
      </div>
    </div>

    <div class="row justify-content-center" id="parameter">
      <div class="col-10">
<pre class="prettyprint linenums">
{{ run.workflow_parameters }}
</pre>
      </div>
    </div>

    <div class="row justify-content-center" id="stdout">
      <div class="col-10">
        <h2>Stdout</h2>
  <pre class="prettyprint linenums">
  {{ run.stdout }}
  </pre>
      </div>
    </div>

    <div class="row justify-content-center" id="stderr">
      <div class="col-10">
        <h2>Stderr</h2>
  <pre class="prettyprint linenums">
  {{ run.stderr }}
  </pre>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sunburst"></script>
{% endblock %}