{% extends 'base.html' %}
{% block title %}
  SAPPORO-web Service Detail
{% endblock %}

{% block content %}
  <br />
  <div class="row justify-content-center">
    <div class="col-10">
      <h2>SAPPORO-web Service Detail: {{ service.0.name }}</h2>
      <p class="lead">
        Details about registered services
      </p>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-9">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col"><div class="text-center">Parameter</div></th>
            <th scope="col"><div class="text-center">Content</div></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-middle">API Service URL</td>
            <td class="align-middle">{{ service.0.api_server_url }}</td>
          </tr>
          <tr>
            <td class="align-middle">Worfklow Engines</td>
            <td class="align-middle">
              {% for workflow_engine in service.0.workflow_engines.all %}
                {% if forloop.counter == service.0.workflow_engines.all|length %}
                  {{ workflow_engine.name }}:&nbsp;{{ workflow_engine.version }}
                {% else %}
                  {{ workflow_engine.name }}:&nbsp;{{ workflow_engine.version }}<br />
                {% endif %}
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td class="align-middle">Workflow Types</td>
            <td class="align-middle">
              {% for workflow_engine in service.0.workflow_engines.all %}
                {% if forloop.counter == service.0.workflow_engines.all|length %}
                  {% for workflow_type in workflow_engine.workflow_types.all %}
                    {% if forloop.counter == workflow_engine.workflow_types.all|length %}
                      {{ workflow_type.type }}:&nbsp;{{ workflow_type.version }}
                    {% else %}
                      {{ workflow_type.type }}:&nbsp;{{ workflow_type.version }}<br />
                    {% endif %}
                  {% endfor %}
                {% else %}
                  {% for workflow_type in workflow_engine.workflow_types.all %}
                    {% if forloop.counter == workflow_engine.workflow_types.all|length %}
                      {{ workflow_type.type }}:&nbsp;{{ workflow_type.version }}<br />
                    {% else %}
                      {{ workflow_type.type }}:&nbsp;{{ workflow_type.version }}<br />
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td class="align-middle">Supported WES Versions</td>
            <td class="align-middle">
              {% for supported_wes_version in service.0.supported_wes_versions.all %}
                {% if forloop.counter == service.0.supported_wes_versions.all|length %}
                  {{ supported_wes_version.wes_version }}
                {% else %}
                  {{ supported_wes_version.wes_version }}<br />
                {% endif %}
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td class="align-middle">Auth Instructions URL</td>
            <td class="align-middle"><a href="{{ service.0.auth_instructions_url }}">{{ service.0.auth_instructions_url }}</a></td>
          </tr>
          <tr>
            <td class="align-middle">Contact Info URL</td>
            <td class="align-middle"><a href="{{ service.0.contact_info_url }}">{{ service.0.contact_info_url }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10">
      <hr />
      <h5>Excutable Workflow</h5>
      <br />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-9">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col"><div class="text-center">Name</div></th>
            <th scope="col"><div class="text-center">Type</div></th>
          </tr>
        </thead>
        <tbody>
        {% for workflow in service.0.workflows.all %}
          <tr>
            <td class="align-middle"><a href="{% url 'app:workflow_detail' workflow_token=workflow.token %}">{{ workflow.name }}</a></td>
            <td class="align-middle">{{ workflow.type }}:&nbsp;{{ workflow.version }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10">
      <a class="btn btn-outline-secondary" href="{% url 'app:service_list' %}" role="button">Back</a>
    </div>
  </div>
{% endblock %}

