{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% block title %}SAPPORO Service List{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/service_list.css' %}">
{% endblock %}
{% block content %}
{% include "./navbar.html" %}
  <div class="container">
    <div class="row" id="title">
      <div class="col-12">
        <h1>Service List</h1>
      </div>
    </div>
    <div class="row justify-content-center" id="content">
      <div class="col-10">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Service Name</th>
              <th scope="col">Workflow Engines</th>
              <th scope="col">Excutable Languages</th>
            </tr>
          </thead>
          <tbody>
            {% for service in services %}
              <tr>
                <td><a href="{% url 'app:service_detail' service_name=service.name %}">{{ service.name }}</a></td>
                <td>
                  {% for workflow_engine in service.workflow_engines.all %}
                    {% if forloop.counter == service.workflow_engines.all|length %}
                      {{ workflow_engine.name }}:&nbsp;{{ workflow_engine.version }}
                    {% else %}
                      {{ workflow_engine.name }}:&nbsp;{{ workflow_engine.version }}<br />
                    {% endif %}
                  {% endfor %}
                </td>
                <td>
                  {% for workflow_engine in service.workflow_engines.all %}
                    {% if forloop.counter == service.workflow_engines.all|length %}
                      {% for workflow_type in workflow_engine.workflow_types.all %}
                        {% if forloop.counter == workflow_engine.workflow_types.all|length %}
                          {{ workflow_type.type }}:&nbsp;{{ workflow_type.version }}
                        {% else %}
                          {{ workflow_type.type }}:&nbsp;{{ workflow_type.version }}<br />
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      {% for workflow_type in workflow_engine.workflow_types.all %}
                        {% if forloop.counter == workflow_engine.workflow_types.all|length %}
                          {{ workflow_type.type }}:&nbsp;{{ workflow_type.version }}<br />
                        {% else %}
                          {{ workflow_type.type }}:&nbsp;{{ workflow_type.version }}<br />
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}