{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}
  SAPPORO-web Signup
{% endblock %}
{% block content %}
  <br />
  <div class="row justify-content-center">
    <div class="col-10">
      <h2>SAPPORO-web Signup</h2>
      <hr />
      <form class="form-signin" method="post" action="{% url 'app:signup' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
      </form>
    </div>
  </div>
{% endblock %}