{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% block title %}SAPPORO Sign up{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
{% include "../app/navbar.html" %}
<div class="container">
  <div class="row justify-content-sm-center">
    <div class="col-sm-4" id="form">
      <form class="signup-form" method="post" action="{% url 'app:signup' %}">
        <img src="{% static 'img/sapporo_icon/res/mipmap-xxhdpi/sapporo_icon.png' %}" alt="" width="96" height="96">
        <p>Sign up to SAPPORO</p>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <input type="submit" class="btn btn-outline-primary btn-block" name="authentication" value="Sign up" />
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_js%}{% endblock %}
