{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% block title %}SAPPORO Workflow Prepare{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/workflow_prepare.css' %}">
{% endblock %}
{% block content %}
{% include "./navbar.html" %}
  <div class="container">
    <div class="row" id="title">
      <div class="col-12">
        <h1>Prepare {{ workflow.name }}: {{ workflow.version }}</h1>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-7">
        <form action="{% url 'app:workflow_prepare' workflow_token=workflow.token %}" method="post">
            {% csrf_token %}
            {% bootstrap_form workflow_prepare_form %}
            {% buttons %}
              <input type="submit" class="btn btn-outline-primary" name="workflow_prepare_form" value="Run" />
            {% endbuttons %}
        </form>
      </div>

      <div class="col-lg-3">
        <form action="{% url 'app:workflow_prepare' workflow_token=workflow.token %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form workflow_parameters_upload_form %}
            {% buttons %}
              <input type="submit" class="btn btn-outline-primary" name="workflow_parameters_upload_form" value="Submit" />
            {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}