<!doctype html>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
{% load static %}
{% load i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'img/sapporo_icon/res/mipmap-mdpi/sapporo_icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/flatly.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_css %}{% endblock %}
  </head>
  <body>
  {% block content %}{% endblock %}
  {% block extra_js%}{% endblock %}
  </body>
</html>