{% load static %}
{% load bootstrap4 %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="NIG web">
    <meta name="author" content="NIG-Ascade">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="application.css" >
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'app:home' %}">NIG-web</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:machine_list' %}">Machine</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:job_list' %}">Job</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:data_list' %}">Data</a>
            </li>
            </ul>
            <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:user_detail' user_name=user.username %}">User Page</a>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="btn btn-outline-secondary" href="{% url 'app:signout' %}">Sign out</a>
            </li>
          </ul>
        {% else %}
          <ul class="navbar-nav mr-auto">
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="btn btn-outline-secondary" href="{% url 'app:signin' %}">Sign in</a>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="btn btn-outline-secondary" href="{% url 'app:signup' %}">Sing up</a>
            </li>
          </ul>
        {% endif %}
      </div>
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>