body {
  background-color: #f5f7f9;
  margin-bottom: 60px;
}

h1 {
  margin-top: 30px;
  color: #003546 !important;
  font-size: 1.6rem !important;
}

p {
  margin-left: 30px;
  color: #003546 !important;
}
